body {
    background-image: URL(/images/spiration-light.png);
    display: flex;
    min-height: 200vh;
    flex-direction: column;
    margin-bottom: 8rem;
    font-family: 'Neuton', serif;
}

.profile-pic img {
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
}

.header {
    font-family: 'Paytone One', sans-serif;
}