body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3%;
    max-height: 0% !important;
    background-image: URL(/images/stardust.png);
    filter: hue-rotate(90deg);
    color: white;
    text-align: center;
}